* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

body {
    background-image: url(images/bg_image.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow-x: hidden;
}

header {}

main {
}

#list {
    max-width: 1200px;
    margin: 0 auto;
}

#sorting {
    text-align: left;
}

#sorting th.sortby {
    text-decoration: underline;
}

/***** TODO: 
        Find new indication arrows *****/
#sorting th.sortby[data-sort-direction="asc"]::after {
    content: "▲";
}
  
#sorting th.sortby[data-sort-direction="desc"]::after {
    content: "▼";
}

/***** MODALS *****/
.hide {
    visibility: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    box-shadow: 1px 1px 10px #333;
    border-radius: 12px;
    padding: 2em;
    background-color: #eee;
    /* position: relative; */
}

.content_header {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content_body ul {
    list-style: none;
    padding-left: 0;
}

/* .close {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    width: 2em;
    height: 2em;
  } */

#list_details {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 2rem;
}

#list_details ul {
    list-style: none;
    padding-left: 0;
}